* {
    list-style-type: none;
    text-decoration: none;
    max-width: 100%;
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {

    display: grid;
    grid-template-columns: 20% 80%;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    scroll-behavior: none;
    color: white;
    font-family: "Lato", sans-serif;
    background-color: #ffff;
}
.navigation-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2a025a;
    text-align: left;
    height: 100vh;
    width: 100vw;
    padding: 30px 0px 30px 30px;
}
.navigation-section div {
    margin: 0px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Recursive", sans-serif;
    font-size: 22px;
}
.logo svg {
    margin: 0px;
    margin: 10px;
}
.menu-Ham, .mobile-header {
    display: none;
}
nav ul {
    margin-top: 20px;
    margin-left: 5px;
    font-family: 18px;
    text-transform: capitalize;
    border-top: 1px solid #a3a3a35b;
    padding-right: 50px;

}
nav ul li {
    margin-top: 40px;
}
nav ul li img:hover {
    transform: scale(1.2);
    transition: .5s all;
}
nav ul li:nth-child(1){
    margin-top: 10px;
}
a {
    color: white;
}
.sign-out {
    display: flex;
    justify-self: flex-end;
    border-top: 1px solid #a3a3a35b;
    padding-right: 100px;
    padding-top: 10px;
}
.sign-out ul li {
    text-transform: capitalize;
    margin-bottom: 20px;
}
ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
ul li a {
    margin-left: 10px;
}
ul li img {
    margin: 0px;
}

/* the main content of the navigation */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;
    color: #2a025a;
}
.content-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 0px;
}
.content-search div {
    margin: 0px;
}
.search-icon {
    display: flex;
    align-items: center;
    margin: 0px;
    border: 2px solid none;
    box-shadow: 0px 4px 4px -3px #a3a3a35b;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px 20px;
    padding-left: 5px;
}
.search-icon input {
    outline: none;
    border: none;
    width: 400px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    color: #2a025a;
    background-color: transparent;
}
.search-icon img {
    padding-right: 5px;
    margin: 2px;
}
.light-person {
    display: flex;
    align-items: center;
    position: relative;
}
.profile-image svg {
    border: 2px solid #2a025a;
    border-radius: 50px;
    margin: 0px 20px;
    cursor: pointer;
}
.profile-svg {
    margin: 0px 20px;
}
.light-person svg:hover {
    transform: scale(1.2);
    transition: .5s all;
}
.profile-lists a {
    color: #2a025a;
}



/* the main content begins from here */

.main-content h1 {
    font-family: "Lato" sans-serif;
    color: #2a025a;
    text-transform: capitalize;
    margin: 0px 0px;
    margin-top: 20px;
}
/* the first welcome section content */
.welcome-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100vw;
    margin: 20px 0px;
}
.welcome-content div {
    margin: 0px;
}
.contents-items {
    margin: 0px;
    padding: 20px 20px;
    padding-left: 14px;
    height: 230px;
    border-radius: 10px;
}
.contents-1,.contents-2, .contents-3, .contents-4 {
    background: linear-gradient(#87ceeb, #65b0f0);
    box-shadow: 0px 4px 4px -1px #a3a3a35b;
}
/* .contents-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #fff;
    align-items: center;
}
.content-4 div {
    margin: 0px;
}
.content-4 img {
width: 100%;
} */
.date-event {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.date-event p {
    margin: 0px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.date-event div {
    margin: 0px;
}
.date-event img {
    width: 75%;
}
.date-event img:hover {
    transform: scale(1.2);
    transition: .5s all;
    cursor: pointer;
}
.cont {
    text-align: left;
    margin: 0px;
    padding: 10px 0px;
}
.cont h3 {
    font-size: 18px;
}
.cont-p {
    color: #fff;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px;
    padding-top: 15px;
}
.cont-btn {
    color: #fff;
    background-color: #2a025a;
    border: 0px;
    border-radius: 4px;
    padding: 10px 30px;
    margin-top: 10px;
    cursor: pointer;
}
.cont-btn:hover {
    color: #fff;
    background-color: #570cb3;
    transition: .5s all;
}
/* the second filtered lists */
section.filtered-lists {
    display: grid;
    grid-template-columns: 24% 74%;
    width: 100vw;
    height: 100%;
    gap: 20px;
    text-align: left;
}
.filtered {
    margin: 0px;
    padding: 15px;
    border-radius: 10px;
    /* background-color: #a3a3a35b; */
}
.filtered-1 {
    background-color: transparent;
}
.filtered h1 {
    margin: 0px;
    color: #2a025a;
    font-weight: 700;
    padding: 10px 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
.topuni-lists {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin: 10px 0px;
    margin-top: 0px;
    cursor: pointer;
}
.uni-1 {
    margin: 0px;
    padding: 14px 0px;
    padding-top: 16px;
    padding-left: 20px;
    font-weight: 700;
    border-bottom: 1px solid #2a035c17;
}
.uni-1 p {
    text-transform: capitalize;
    font-weight: 700;
}
.uni-1:hover {
    background-color: #2a025a;
    color: #fff;
    transition: .5s all;
    cursor: pointer;
}
.uni-1 p:hover  {
    transform: scale(1.1);
    transition: .5s all;
}
/* for the second filter */
.filtered-2 {
    /* background-color: #c0ebfc2a; */
    background-color: #fff;
    box-shadow: 0px 4px 4px -3px #a3a3a35b;
    height: 100vh;
}
.filtering-flow {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 35vh;
}
.filtered-2 h1 {
    color: #2a025a;
    text-transform: capitalize;
    font-size: 20px;
}
.filtering {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid none;
    border-radius: 6px;
    background-color: #f9f9f9;
    padding: 10px 10px;
    margin: 5px 0px;
    margin-top: 6px;
    box-shadow: 0px 4px 4px -3px #a3a3a35b;
}
.filtering-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
}
.filtering-header h5 {
    font-weight: 800;
    font-size: 15px;
    margin: 0px;
    cursor: pointer;
}
.filtering  p {
    margin: 0px;
    font-weight: 800;
    font-weight: 500;
}
.filtering .school-name {
    text-align: left;
    font-weight: 800;
}
.filtering p:nth-child(1){
    /* color: #fff;
    background-color: #2a025a; */
    padding: 10px 0px;
    border-radius: 7px;
}
.filtering p:hover {
    text-decoration: underline;
    transition: .5s all;
    cursor: pointer;
}

/* the javascript style for the view all page */
.display-uni {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 0px 0px;
    padding-right: 10px;
    margin-top: 20px;
}
.display-uni h1 {
    color: #570cb3;
}
.display-uni .filtering-header {
    padding: 20px 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #a3a3a35b;
    /* layout styles */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.display-uni .filtering-header h1 {
    margin-top: 0px;
}
/* .display-uni .filtering {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    background-color: #f5f5f5;
    color: #570cb3;
    margin: 0px 0px;
    margin-top: 0px;
    border-bottom: 1px solid #a3a3a35b;
    border-radius: 1px;
    box-shadow: none;
    font-weight: 100;
}
.display-uni .filtering p {
    font-weight: 400;
}
.display-uni .filtering .school-name {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    color: #570cb3;
    font-weight: 900;
} */
.filtering-btn {
    position: absolute;
    left: 35%;
    top: 30%;
    margin-bottom: 20px;
}
.btn-svg {
    opacity: 0.9;
    width: 50%;
}
 .searches-btn {
    color: #fff;
    background-color: #2a025a;
    border: 0px;
    border-radius: 8px;
    padding: 12px 36px;
    cursor: pointer;
    margin-top: 20px;
 }
.filterss {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.filterss-2 {
    margin: 0px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.filterss p {
    margin-right: 28px;
    color: #570cb3;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
    font-style: bold;
}
.filterss-2 p {
    margin: 16px;
    cursor: pointer;
}
.filterss-2 p a {
    color: #570cb3;
    text-transform: capitalize;
    font-weight: 600;
    font-style: bold;
}
.filterss p:hover, .filterss-2 p:hover {
    font-weight: 800;
    transition: .5s all;
}
.filterss-2 p.back-btn {
    color: #fff;
    background-color: #570cb3;
    padding: 10px 20px;
    border-radius: 8px;
}
.filterss-2 p.back-btn:hover {
    color: #570cb3;
    background-color: transparent;
    border: 1px solid #570cb3;
    transition: .5s all;
}
/* the responsive styles  begins from here */
.mobile-Dashboard {
    display: none;
}
/* the  styles for the school page grid - layout */

.filtering-template {
    display: none;
    color: #2a025a;
    width: 100vw;
    height: 100vh;
    position: relative;
}
/* .grid-al {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0px;
} */
.filter-grid {
    border-radius: 10px;
    margin: 0px;
    text-align: left;
}
.filtgrid-1 h1 {
    color: #570cb3;
    font-size: 28px;
    margin: 0px;
}
.filtgrid-2 {
    background-color: #fff;
}
.filtgrid-2 {
    border-radius: 10px;
}
.filtgrid-1 {
    grid-column: 1/3;
}
.filtgrid-3 {
    grid-column: 1/4;
    padding-right: 100px;
}
.filtgrid-3 h2 {
    color: #570cb3;
    padding: 10px 0px;
    margin: 10px 0px;
}
.filter-grid p {
    line-height: 1.8;
    margin-top: 20px;
    margin: 50px;
    color: #000000a1;
}
.courses-btn {
    margin: 50px 0px;
}
#admission p, #accommodation p, .mobile-filt p {
    margin: 50px 0px;
    line-height: 1.9;
}
#admission li, #accommodation li {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
}
.prev-next {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.prev-next div {
    margin: 0px;
}
.prev-btn img, .next-btn svg, .prev-next img {
    cursor: pointer;
}
.filtgrid-3 li {
    color: #000000a1;
}
.filtgrid-3 p {
    color: #000000a1;
    line-height: 1.6;
}
.course-button {
    color: #fff;
    background-color: #570cb3;
    padding: 12px 30px;
    border: 0px;
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
#fees li, #administration li, #admission li, #student-life li {
    line-height: 1.8;
}

/* the schools page courses styles */
.courses-template {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.63);
    width: 75vw;
    height: 80vh;
    z-index: 100;
    margin: 0px 20px;
    border: 0px;
    border-radius: 10px;
    display: none;
    align-items: center;
}
.course-main {
    background-color: #ffff;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    text-align: left;
}
.courses-contents {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 36vh;
    margin: 10px 20px;
    margin-top: 30px;
}
.courses-contents p {
    text-align: center;
    font-weight: 700;
    color: #570cb3;
    text-transform: capitalize;
}

.courses-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 18px;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 0.75px solid #a3a3a35b;
}
.courses-header div {
    margin: 0px;
    cursor: pointer;
}
.items-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.items-search input {
    border: 1px solid #a3a3a35b;
    border-radius: 8px;
    padding: 12px 5px 12px 6px;
    width: 30vw;
}
.items-search input:focus {
    outline: 0.5px solid #a3a3a35b;
}
.items-search div {
    margin: 0px;
}
.all-courses {
    border: 0px;
    background-color: transparent;
}
.all-courses a {
    color: #fff;
    background-color: #570cb3;
    padding: 10px 24px;
    border-radius: 8px;
}


/* the desktop responsive styles for 1440px, 1200px 1024px */
@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {

}
/* mobile styles are different */
@media screen and (max-width: 450px) {
    body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-height: fit-content;
        overflow: auto;
        width: 100%;
        color: #2a025a;
        font-family: "Lato", sans-serif;
    }
    .mobile-header {
        max-width: 425px;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
    .mobile-header div {
        margin: 0px 0px;
    }
    .mobile-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Recursive", sans-serif;
        font-size: 24px;
        color: #2a025a;
    }
    .mobile-menu {
        cursor: pointer;
        margin: 15px;
    }
    /* the first section styling and the navigations page mobile view */
    .logo {
        color: #fff;
    }
    .menu-Ham {
        display: block;
        text-align: right;
        position: relative;
        left: 80px;
    }
    .mobile-profile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .mobile-profile img:nth-child(2) {
        width: 50px;
        border: 0px;
        border-radius: 50px;
        margin-left: 16px;
    }
    .navigation-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #2a025a;
        text-align: left;
        height: 100%;
        width: 80vw;
        padding: 30px 0px 30px 30px;
        margin: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        transform: translateX(-100%);
    }
    .mobile-nav-show {
        transform: translateX(0%);
        transition: .5s ease-in;
    }
    .mobile-nav-remove {
        transition: .5s ease-out;
    }
    .sign-out {
        display: flex;
        justify-self: flex-end;
        align-items: flex-start;
        border-top: 1px solid #a3a3a35b;
        padding: 10px 0px 0px 0px;
        width: 60vw;
    }
    .sign-out ul {
        margin: 0px;
    }

    /* the mobile navigation styling begins from here */
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
        width: 100vw;
        height: auto;
        scroll-behavior: smooth;
        padding: 40px 20px;
        color: #2a025a;
    }
    .content-search {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
    }
    .search-icon {
        display: flex;
        align-items: center;
        margin: 0px;
        border: 0px;
        border-bottom: 1px solid #2a025a7a;
        /* box-shadow: 0px 4px 4px -3px #a3a3a35b; */
        border-radius: 0px;
        background-color: #ffff;
        padding: 24px 5px;
        padding-left: 0px;
        padding-bottom: 12px;
    }
    .search-icon input {
        outline: none;
        width: 100vw;
        font-size: 15px;
        font-weight: 500;
        font-family: "Lato", sans-serif;
        color: #2a025a;
        background-color: transparent;
    }
    .light-person {
        display: none;
    }
    .main-content h1 {
        font-family: "Lato" sans-serif;
        font-size: 20px;
        color: #2a025a;
        text-transform: capitalize;
        text-align: left;
        margin: 0px;
        margin: 20px 0px;
    }
    /* the first welcome section content */
    .welcome-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        width: 100vw;
        margin: 20px 0px;
    }
    .contents-items {
        margin: 0px;
        padding: 20px 20px;
        padding-left: 14px;
        height: 100%;
        border-radius: 10px;
    }

    /* the second - lists */

    section.filtered-lists {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100vw;
        height: 100%;
        gap: 10px;
        text-align: left;
        display: none;
    }
    /* school styles */

    .display-uni .filtering-header {
        padding: 20px 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid #a3a3a35b;
        /* layout styles */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .display-uni .filtering-header h1 {
        margin: 0px 0px 50px 0px;
        font-size: 24px;
    }
    .filtering-btn {
        position: relative;
        left: 0%;
        top: 8%;
        margin-bottom: 20px;
    }
    .filterss {
        overflow: scroll;
        scrollbar-width: none;
        width: 100vw;
        transition: .5s all;
    }
    .filterss-2 {
        margin: 0px;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        overflow-y: scroll;
        scrollbar-width: none;
        width: 100vw;
    }
    .filterss p {
        margin: 5px 28px;
        color: #570cb3;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 600;
        font-style: bold;
    }
    .filterss p:nth-child(1), .filterss-2 p:nth-child(1){
        margin-left: 0px;
    }
    .display-uni .filtering-header h1 {
        margin: 0px 0px 20px 0px;
    }
    .filterss-2 p {
        margin: 5px 20px;
        cursor: pointer;
    }
    .mobile-filt {
        display: flex;
        flex-direction: column-reverse;
    }

    #admission p, #accommodation p, .mobile-filt p {
        margin: 10px 0px 40px 0px;
        line-height: 1.9;
    }
    #admission li, #accommodation li {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 17px;
    }

    .filtgrid-3 {
        grid-column: 1/4;
        padding-right: 0px;
    }
    
    /* the schools page course click events */

    /* the schools page courses styles */
.courses-template {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.63);
    width: 75vw;
    height: 80vh;
    z-index: 100;
    margin: 0px 20px;
    border: 0px;
    border-radius: 10px;
    display: none;
    align-items: center;
}
.course-main {
    background-color: #ffff;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    text-align: left;
}
.courses-contents {
    overflow-y: scroll;
    scrollbar-width: thin;
    height: 36vh;
    margin: 10px 20px;
    margin-top: 30px;
}
.courses-contents p {
    text-align: center;
    font-weight: 700;
    color: #570cb3;
    text-transform: capitalize;
}

.courses-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 18px;
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 0.75px solid #a3a3a35b;
}
.courses-header div {
    margin: 0px;
    cursor: pointer;
}
.items-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 10px;
}
.items-search div {
    margin: 10px 0px;
}
.items-search input {
    border: 1px solid #a3a3a35b;
    border-radius: 8px;
    padding: 12px 5px 12px 6px;
    width: 30vw;
}
.items-search input:focus {
    outline: 0.5px solid #a3a3a35b;
}
.items-search div {
    margin: 0px;
}
.all-courses {
    border: 0px;
    background-color: transparent;
}
.all-courses a {
    color: #fff;
    background-color: #570cb3;
    padding: 10px 24px;
    border-radius: 8px;
}




}









