/* examination styles */
.exams-all {
    margin: 0px 0px;
    margin-top: 40px;
    color: #570cb3;
}
.examination-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 20px;
    margin: 0px 16px 0px 10px;
}
.examination-header button {
    background-color: transparent;
    border: 0px;
}
.examination-header button a {
    background-color: #570cb3;
    padding: 10px 24px;
    border-radius: 5px;
}
.exams-all h1 {
    text-align: left;
    font-size: 26px;
}
.examination-header div {
    margin: 0px;
}
.examination-header h1 {
    margin: 0px;
    color: #570cb3;
}
.exams-grid {
    margin: 0px;
}
.exam-grid-all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 30px 0px;
    margin-top: 10px;
}
.exam-back {
    text-align: right;
}
.exam-all, .exam-fourth {
    padding: 20px 10px;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.exam-all:hover {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    transform: scale(1.02);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.exam-grid-all div {
    margin: 0px;
}
.examination-images {
    text-align: left;
}
.examination-images img {
    width: 21%;
}
.sixth-img {
    width: 10%;
}
.exam-fourth {
    grid-column: 4/5;
    grid-row:  1/3;
}
.fourth-examlists {
    margin: 0px;
    padding: 10px 15px;
    text-align: left;

    overflow-y: scroll;
    scrollbar-width: thin;
    height: 230px;
}
.fourth-examlists ol, .listss {
    margin: 0px;
}
.fourth-examlists h2 {
    font-size: 20px;
    margin: 15px 0px;
    color: #2a025a;
}
.listss {
    font-weight: bold;
    padding: 10px 5px;
    margin-bottom: 15px;
    color: #25054ba8;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid #81818149;
}
.listss:hover {
    color: #fff;
    background-color: #38037a98;
    font-weight: bold;
    transition: .5s ease-in-out;
}
.examination-images img:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;
}
.examination-text {
    text-align: left;
    margin-left: 30px;
}
.examination-text h3 {
    text-transform: uppercase;
    margin: 10px 0px;
    cursor: pointer;
}
.examination-text h3:hover {
    text-decoration: underline;
    transition: .5s ease-in;
}
.examination-text p {
    line-height: 1.5;
    font-size: 14px;
    color: #757575ee;
}


/* the examinations displays style */

.exam-displays {
    display: none;
    margin: 0px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    height: 75vh;
}
.exam-displays div {
    text-align: left;
}
.about-exam p, .exam-displays p {
    text-align: left;
    color: #25054ba8;
    font-size: 16px;
    line-height: 1.8;
    margin: 10px 0px 0px 0px;
}
.reg-lists {
    margin-top: 30px;
}
.reg-lists ol {
    margin: 20px 0px;
}
.reg-lists ol li {
    line-height: 1.8;
    color: #25054ba8;
}
.subjects-lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.subjects-lists li {
    margin: 0px;
    text-align: left;
    text-transform: capitalize;
    cursor: alias;
}
.subjects-lists li:hover {
    color: #000000dc;
}
.grades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grades li {
    margin: 0px;
    text-align: left;
}
.show {
    display: block;
}
.remove {
    display: none;
}
.syllabus-main, .each-subjext, .subjects, .syllabus {
    margin: 0px;
}
.syllabus {
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 100vw;
    display: none;
}
.each-subject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    margin-right: 20px;
    background-color: #dbdbdbee;
    padding: 12px 8px;
    padding-right: 20px;
    border-radius: 10px;
}
.subjects p {
    font-size: 18px;
    text-transform: capitalize;
}
.subjects-btn {
    background-color: #570cb3;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.subjects-btn:focus{
    background-color: #2a025a;
}
/* the syllabus styling */

/* mobile responsive view for the desktop */

@media screen and (max-width: 1400px) {
    /* resize the width of the entire web page */
    .exam-grid {
        overflow-y: scroll;
        scrollbar-width: thin;
        height: 75vh;
        padding-right: 10px;
    }
    .exam-grid-all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: center;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin: 30px 0px;
        margin-top: 10px;
    }
    .exam-fourth {
        grid-column: 3/4;
        grid-row:  1/3;
    }
    .show {
        display: block;
    }
    .remove {
        display: none;
    }

    /* resize the grid of the width */
    
    /* work on the navigation bar */
}

@media screen and (max-width: 1200px) {
    /* resize the width of the entire web page */

    /* resize the grid of the width */
    
    /* work on the navigation bar */
}

@media screen and (max-width: 1024px) {
    /* resize the width of the entire web page */

    /* resize the grid of the width */
    
    /* work on the navigation bar */

}

/* mobile responsive */

@media screen and (max-width: 450px) {
    /* resize the width of the entire web page */
    .exam-grid-all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(1, 1fr); */
        grid-template-rows: auto;
        align-items: center;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
        margin: 30px 0px;
        margin-top: 10px;
    }
    .exam-fourth {
        grid-column: 1/2;
        grid-row:  7/8;
    }
    .examination-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        bottom: 20px;
        margin: 0px 0px 0px 0px;
    }
    .examination-header h1 {
        margin: 20px 0px;
        color: #570cb3;
    }

    .examination-header button {
        background-color: transparent;
        border: 0px;
        margin-top: 20px;
    }

    .fourth-examlists {
        margin: 0px;
        padding: 10px 15px;
        text-align: left;
    
        overflow-y: none;
        scrollbar-width: none;
        height: fit-content;
    }

    .fourth-examlists ol, .listss {
        margin: 0px;
    }
    .fourth-examlists h2 {
        font-size: 18px;
        margin: 25px 0px;
        color: #2a025a;
    }
    .listss {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 5px;
        margin: 20px 0px;
        margin-bottom: 15px;
        color: #25054ba8;
        text-transform: capitalize;
        cursor: pointer;
        border-bottom: 1px solid #81818149;
    }
    .exam-displays {
        margin: 0px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scroll-behavior: smooth;
        height: 100%;
    }

    .subjects-lists {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
    }
    .subjects-lists li {
        margin: 10px 0px;
        text-align: left;
        text-transform: capitalize;
        cursor: alias;
    }
    .grades {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grades li {
        margin: 10px 0px;
        text-align: left;
    }
    .show {
        display: block;
    }
    .remove {
        display: none;
    }
    .each-subject {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0px;
        margin-right: 10px;
        background-color: #dbdbdbee;
        padding: 12px 8px;
        padding-right: 10px;
        border-radius: 10px;
    }
    /* resize the grid of the width */
    
    /* work on the navigation bar */

}

@media screen and (max-width: 375px) {
    /* resize the width of the entire web page */

    /* resize the grid of the width */
    
    /* work on the navigation bar */
}

@media screen and (max-width: 360px) {
    /* resize the width of the entire web page */

    /* resize the grid of the width */
    
    /* work on the navigation bar */
}









